<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string></string>
	</dict>
	<key>UILaunchScreens</key>
	<dict>
		<key>UIDefaultLaunchScreen</key>
		<string>launch-1</string>
		<key>UILaunchScreenDefinitions</key>
		<array>
			<dict>
				<key>UIColorName</key>
				<string>launch_bg_1</string>
				<key>UILaunchScreenIdentifier</key>
				<string>launch-1</string>
			</dict>
			<dict>
				<key>UIColorName</key>
				<string>launch_bg_2</string>
				<key>UILaunchScreenIdentifier</key>
				<string>launch-2</string>
			</dict>
		</array>
		<key>UIURLToLaunchScreenAssociations</key>
		<dict>
			<key>launchscreen</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
